__pycache__
/instance/__pycache__
/scissor_app/__pycache__
/tests/__pycache__

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/sciss

.env

